/compile_bin/
/prog_bin/
*~
*#
/notes/
/docs/
*.swp
*.cooja
*.jar
*/**/*.o
*/**/*.d
*/**/*_linkInfo.xml
*/**/*.exp5438
*.a
*.map

*.bin
*.elf
*.hex

*/**/obj_*

*.cc2538dk
*.ev-aducrf101mkxz
*.srf06-cc26xx
*.i16hex
